{% extends 'base.html' %}
{% block title %}Pokedex Ouvert{% endblock %}
{% block head %}{% endblock %}
{% block main %}

    <div class="test">


    </div>
    <div id="pokedex">
        <div id="left">
            <div id="logo"></div>
            <div id="bg_curve1_left"></div>
            <div id="bg_curve2_left"></div>
            <div id="curve1_left">
                <div id="buttonGlass">
                    <div id="reflect"></div>
                </div>
                <div id="miniButtonGlass1"></div>
                <div id="miniButtonGlass2"></div>
                <div id="miniButtonGlass3"></div>
            </div>
            <div id="curve2_left">
                <div id="junction">
                    <div id="junction1"></div>
                    <div id="junction2"></div>
                </div>
            </div>
            <div id="screen">
                <div id="topPicture">
                    <div id="buttontopPicture1"></div>
                    <div id="buttontopPicture2"></div>
                </div>
                <div id="picture">
                    <img src={{ pokemon_info.sprite }} alt="psykokwak"
                         height="170"/>
                </div>
                <div id="buttonbottomPicture">
                    back front
                </div>
                <div id="speakers">
                    <div class="sp"></div>
                    <div class="sp"></div>
                    <div class="sp"></div>
                    <div class="sp"></div>
                </div>
            </div>
            <div id="bigbluebutton">shiny</div>
            <div id="barbutton1">female</div>
            <div id="barbutton2">male</div>
            <div id="cross">
                <div id="leftcross">
                    {{ current_path_previous }}
                    <a href="{% previous_path %}"><div id="leftT">previous</div></a>
                </div>
                <div id="topcross">
                    <div id="upT"></div>
                </div>
                <div id="rightcross">
                    <div id="rightT">next</div>
                </div>
                <div id="midcross">
                    <div id="midCircle"></div>
                </div>
                <div id="botcross">
                    <div id="downT"></div>
                </div>
            </div>
        </div>
        <div id="right">
            <div id="stats">
                <strong>Nom:</strong>
                {{ pokemon_info.name }}
                <br/>
                <strong>Type:</strong>
                {{ pokemon_info.types }}
                <br/>
                <strong>Taille:</strong>{{ pokemon_info.height }}<br/>
                <strong>Poids:</strong>{{ pokemon_info.weight }}<br/><br/>
                <strong>{{ pokemon_info.title }}</strong><br/>
                {{ pokemon_info.description }}
            </div>
            <div id="blueButtons1">
                <div class="blueButton"></div>
                <div class="blueButton"></div>
                <div class="blueButton"></div>
                <div class="blueButton"></div>
                <div class="blueButton"></div>
            </div>
            <div id="blueButtons2">
                <div class="blueButton"></div>
                <div class="blueButton"></div>
                <div class="blueButton"></div>
                <div class="blueButton"></div>
                <div class="blueButton"></div>
            </div>
            <div id="miniButtonGlass4"></div>
            <div id="miniButtonGlass5"></div>
            <div id="barbutton3"></div>
            <div id="barbutton4"></div>
            <div id="yellowBox1">Delete From Team</div>
            <div id="yellowBox2">Add To Team</div>
            <div id="bg_curve1_right"></div>
            <div id="bg_curve2_right"></div>
            <div id="curve1_right"></div>
            <div id="curve2_right"></div>
        </div>
    </div>
{% endblock %}

