{% extends 'base.html' %}
{% load static %}
{% block title %}Pokedex Ouvert{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block main %}
    <div class="titleimg">
        <img src="https://raw.githubusercontent.com/PokeAPI/media/master/logo/pokeapi_256.png" alt="">
        <a href="/pokedex/1" id="getpokedex" class="pixel2home">Ouvrir le pokedex</a>
    </div>



{% endblock %}
{% block javascript %}
    <script>

        {% comment %}
        // Faire bouger le bouton :)
        var item = document.getElementById("getpokedex");
        item.addEventListener("mouseover", func, false);

        function func() {  // not needed since item is already global,
            var item = document.getElementById("getpokedex");
            item.style.position = "absolute";
            item.style.left = Math.floor(Math.random() * 1500) + 'px';
            item.style.top = Math.floor(Math.random() * 800) + 'px';
            var audio = new Audio('https://www.myinstants.com/media/sounds/noot-noot.mp3');
            audio.play();
        }{% endcomment %}

    </script>
{% endblock %}